.classpath
.project
.settings
.externalToolBuilders
.idea
*.orig
.springBeans
*.iml
*.ipr
*.iws
*.ids
target
*.jar
log
lib
*.swp
maven-eclipse.xml
HREV*
*.log
*.log.zip
*.FDC
.pmd
.checkstyle
.timestamp.txt
catalog.xml
.metadata
nb-configuration.xml
